<nav>
    <a href="/movies/new">Add a movie</a>
</nav>

<% movies.forEach( (movie, index) =>{ %>
    <h1>
        <a href="/movies/<%= movie.id %>">
            <%= movie.name %>
        </a>
    </h1>
    <form action='/movies/<%= movie.id %>?_method=DELETE' method="POST">
        <input type="submit" value="DELETE" />
    </form>
    <a href="/movies/<%= movie.id %>/edit">Edit movie</a>
    <%  }) %>
    

   