<h1>Add new show</h1>
<form action="/shows" method='POST'>
    <label for="name">Name</label>
    <input type="text" name="name" id='name'>

    <br><label for="genre">Genre</label>
    <input type="text" name="genre" id='genre'>

    <br><label for="rating">Rating</label>
    <input type="text" name="rating" id='rating'>
        

        <input type="submit" value='Add show'>

</form>

